<h1>User info</h1>

<%= form_for(@user, url'/users/#{@user.id}') do |f| %> <!-- url以降のもっと良い書き方があるか -->
	Name
	<%= f.text_field :name %>

	Image

	Introduction
	<%= f.text_area :introduction %>

	<%= f.submit 'Update User' %>

<% end %>