/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.clearfix ::after {
	content: "";
	display: block;
	clear: both;
}

li {
	list-style: none;
}

.container {
	margin-left: 120px;
	width: 100%;
}

header {
	height: 50px;
	background-color: #333;
	color: #fff;
}

.header-contents {
	width: 1170px;
	margin: 0 auto;
}

.header-title {
	padding-top: 5px;
}

.nav-list {
	display: flex;
	line-height: 50px;
	float: right;
}

.nav-list-item {
	margin-right: 20px;
}

.footer-contents {
	float: right;
}

main {
	margin: 0 auto;
}

.glyphicon-wrench {
	text-align: center;
	width: 100%;
	border: 1px solid #EEE;
	padding: 5px 10px;
}

.edit-btn {
	padding-right: 30px;
}

// コメントフォーム
.form-control {
	width: 85%;
}

.btn-lg {
	margin-right: 150px;
}

footer {
	float: right;
}